<button mat-flat-button color="primary" (click)="crearUsuario()">Crear usuario</button>

<form [formGroup]="myForm" (ngSubmit)="login()">

    <mat-form-field appearance="fill" class="col-4">
        <mat-label>Nombres</mat-label>
        <input 
            matInput 
            placeholder="nombre"
            [formControl] = controlName 
            #input 
            maxlength="25"
        >
        <mat-hint >{{input.value.length}}/25</mat-hint>
        <mat-error>Ingrese nombres completos</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input 
            matInput 
            placeholder="correo"
            [formControl] = controlEmail
            type = "email"
            [errorStateMatcher]="matcher"
        >

        <mat-error *ngIf="controlEmail.hasError('email') && !controlEmail.hasError('required')">
            Correo inválido
        </mat-error>
        <mat-error *ngIf="controlEmail.hasError('required')">
            Ingrese un correo
        </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input 
            matInput 
            [type]="hide ? 'password' : 'text'" 
            [formControl]="controlPassword" 
            #input 
        >
        <mat-error *ngIf="controlEmail.hasError('required')">
            Ingrese contraseña
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    
    <button mat-flat-button color="primary" type="submit">Ingresar</button>

</form>