<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <img width="100" src="../../assets/user.png">
        <p>{{ authUser?.email }}</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <!--MI WRAPPER-->
    <div class="example-sidenav-content">
        <!--TOOLBAR-->
        <mat-toolbar color="primary">
            <button 
                mat-icon-button 
                class="example-icon" 
                aria-label="Example icon-button with menu icon" 
                (click)="drawer.toggle()"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <span>Registro de alumnos</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <main class="m-2">
        <!--FORMULARIO-->
        <app-formulario></app-formulario>
        
        <!--OBSERVABLE-->
        <app-observables></app-observables>
        
        <!--TABLA-->
        <app-listadoAlumnos></app-listadoAlumnos>

        
    </main>
</mat-drawer-container>

