<p appFontSize>Listado de cursos</p>

<button *ngIf="(authUserObs$ | async)?.role === 'admin'" (click)="crearCurso()" mat-flat-button color="primary" >
  <mat-icon>add</mat-icon>
  Agregar curso
</button>


<table mat-table [dataSource]="dataSource">
    <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let curso"> {{curso.id}} </td>
  </ng-container>

  <!--Nombre completo Column-->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> Nombre curso </th>
    <td mat-cell *matCellDef="let curso"> 
        {{curso.nombre}}
    </td>
  </ng-container>

  <!-- Curso Column -->
  <ng-container matColumnDef="fecha_inicio">
    <th mat-header-cell *matHeaderCellDef> Fecha_inicio </th>
    <td mat-cell *matCellDef="let curso"> {{curso.fecha_inicio | date: 'shortDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_fin">
    <th mat-header-cell *matHeaderCellDef> Fecha_fin </th>
    <td mat-cell *matCellDef="let curso"> {{curso.fecha_fin | date: 'shortDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
    <mat-cell *matCellDef="let curso">
      <button mat-icon-button color="primary" (click)="verDetalle(curso.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="(authUserObs$ | async)?.role === 'admin'" mat-icon-button color="warn" (click)="editarCurso(curso)">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="(authUserObs$ | async)?.role === 'admin'" mat-icon-button color="warn" (click)="eliminarABMCurso(curso)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>